
server {
    listen {{ reports_server_http_port }};

    server_name {{ domains|join(", ") }};
    keepalive_timeout 15;

    root {{ reports_server_root_path }};

    location / {
      proxy_pass http://localhost:3000/;
    }

    location /vector {
    }

    location /jenkins {
      proxy_pass http://localhost:8000;
    }

    location /pmweb/ {
      proxy_pass http://localhost:44323/;
    }

    location /{{ reports_server_index_path }}/ {
      autoindex on;
    }

    location /favicon.ico {
        access_log     off;
	      log_not_found  off;
    }

}
